In [64]:
import pandas as pd
df = pd.read_csv("hc_zip_codes.csv")
df = df.applymap(str.strip)
# df["Zip"] = df["Zip"].astype(pd.StringDtype())
df["End"] = df["Zip"].str[4:].astype("string")
df["Code"] = df["Zip"].str[:4]
df["Code"] = pd.to_numeric(df["Code"], errors="coerce")
df = df.dropna(subset=["Code"])
df["Code"] = df["Code"].astype(int)

df.dtypes

Zip       object
Winner    object
End       string
Code       int32
dtype: object

In [65]:
#3000 AA - 3099 ZZ: Rotterdam (https://en.youbianku.com/netherlands)

df_rot = df.pipe(lambda x: x.loc[(x['Code'] <= 3099) & (x["Code"] >= 3000)])
# df_rot = df[int(df.Zip.str[:3]) == 777]
df_rot

         Zip      Winner End  Code
15    3081BX  Complainer  BX  3081
31    3082KG   Defendant  KG  3082
47    3073EM  Complainer  EM  3073
59    3072VR  Complainer  VR  3072
107   3081RR   Defendant  RR  3081
...      ...         ...  ..   ...
1371  3014KD   Defendant  KD  3014
1377  3083NG   Defendant  NG  3083
1380  3067DA  Complainer  DA  3067
1392  3022TL  Complainer  TL  3022
1394  3011ZP  Complainer  ZP  3011

[109 rows x 4 columns]

In [56]:
physical_locations = pd.read_csv("NL_full.txt", header=None, delimiter=r"\s+", on_bad_lines="skip")
physical_locations.columns
d = physical_locations.iloc[:, [1, 2, 8, 9]]
column_names = ["Code", "End", "Lat", "Lon"]
d = d.set_axis(column_names, axis=1)
d.head(5)
d_rot = d.pipe(lambda x: x.loc[(x['Code'] <= 3099) & (x["Code"] >= 3000)])
d_rot.head(5)

        Code End      Lat     Lon
323824  3011  AA  51.9203  4.4809
323825  3011  AB  51.9193  4.4815
323826  3011  AC  51.9195  4.4816
323827  3011  AD  51.9230  4.4791
323828  3011  AE  51.9203  4.4804

In [66]:
complaints = pd.merge(df_rot, d_rot, on=["Code", "End"], how="inner")
complaints.head(5)
complaints.describe()
complaints.to_csv("complaints.csv", index=False)
complaints.to_json("complaints.json", orient="records")